/* ************************* */
/* below 1344ps(smaller desktops)  */
/* ************************* */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .sticky-notes .sticky-note a {
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 69em) {
  .hero-description {
    font-size: 0.8rem;
  }
}

@media (max-width: 50em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 38em) {
  /* ************************* */
  /* Navigation  */
  /* ************************* */

  .btn-mobile-nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(1rem, 0);
  }

  .sticky .btn-mobile-nav {
    transform: translate(1rem, 0.5rem);
  }

  .main-nav {
    background-color: rgba(256, 256, 256, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease-in;

    /* /* 1)hide */
    opacity: 0;
    /* 2)滑鼠和點擊無法作用 */
    pointer-events: none;
    /* 3)對閱讀文件隱藏 */
    visibility: hidden;

    z-index: 1;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    padding: 4.8rem;
    flex-direction: column;
    gap: 4.8rem;
  }

  .dropdown-content a {
    font-size: 2.4rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  /* ************************* */
  /* Phone  1*/
  /* ************************* */

  .sticky .header {
    height: 6rem;
  }

  .container {
    padding: 0 1.6rem;
  }
  .grid {
    row-gap: 4.8rem;
  }

  .grid--3-cols {
    gap: 0;
  }

  .grid--2-cols,
  .grid--3-1-cols,
  .grid--4-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  /* 便利貼大小 */

  .sticky-notes .sticky-note a {
    width: 22rem;
    height: 22rem;
  }

  /* logo */

  .social-logo,
  .web-logo {
    width: 4.8rem;
    height: 4.8rem;
  }

  .social-logo:hover {
    width: 5.6rem;
    height: 5.6rem;
  }
}
