/*

===Color
- Primary
- Greys
#555


*/

/* ************************* */
/* GENERAL  */
/* ************************* */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
  align-items: center;
}

.heading-primary {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.05;
  background-color: black;
  color: #fff;
  letter-spacing: 0.5rem;
  text-align: center;
  padding: 2rem 0;
}

.heading-secondary {
  font-weight: 700;
  line-height: 1.05;
  font-size: 3.6rem;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #cacaca;
  letter-spacing: 0.5rem;
  margin-bottom: 1.6rem;
}

.text-center {
  text-align: center;
}

.mar {
  margin: 9.6rem auto;
}

/* ************************* */
/* Header  */
/* ************************* */

.header {
  height: 9.6rem;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  /* position: relative; */
}

.logo {
  height: 2.4rem;
}

.Name {
  text-align: center;
  color: #402a52;
  font-weight: 700;
  font-size: 4.4rem;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* ************************* */
/* Navigation  */
/* ************************* */

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  justify-content: center;
  justify-content: space-evenly;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: block;
  color: #402a52;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #eb67eb;
}

/* .sub-nav-link {
  text-decoration: none;
  font-size: 1.8rem;

  transition: all 0.3s;
} */

.dropdown-container {
  position: relative;
  display: inline-block;
  transition: all 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.075);
  z-index: 1;
}

.dropdown-content a {
  color: #8d8d8d;
  font-size: 1.4rem;
  display: block;
  padding: 1rem 0.8rem;
  text-decoration: none;
  transition: all 0.3s;
}

.dropdown-content a:hover {
  color: #eb67eb;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

/* ************************* */
/* bottom nav  */
/* ************************* */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ************************* */
/* HERO  */
/* ************************* */

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 5rem 5rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #999;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 9.6rem;
}

.btn:link,
.btn:visited {
  display: inline;
  background-color: #402a52;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 15px;
  text-decoration: none;
  margin: 0 3rem;
  transition: all 0.5s;
}

.btn:hover,
.btn:active {
  display: inline;
  background-color: #daadff;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 15px;
  text-decoration: none;
  margin: 0 3rem;
}

.delivered-text {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #999;
}

/* ************************* */
/* About  */
/* ************************* */

.section-about {
  padding: 9.6rem 0;
}

.about-text-box {
  padding: 0 4.8rem 4.8rem 4.8rem;
  font-size: 1.8rem;
}

/* 圓 */

/* .about-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin: 9.6rem 0;
  transition: all 0.5s;
} */

.patch {
  background: #e7e0e4;
  border-radius: 125px;
  color: rgb(163, 21, 21);
  font-family: "Moaria Regular", sans-serif;
  font-size: 32px;
  height: 220px;
  letter-spacing: 5px;
  margin: -10px auto 0 auto;
  padding-top: 1px;
  text-indent: 6px;
  transition: all 0.5s;
}

.patch_inner {
  border: 1px dashed #881c1c;
  border-radius: 200px;
  display: block;
  height: 210px;
  margin: 3px 4px;
  width: 210px;
  transition: all 0.5s;
}

.patch_inner .catch {
  border-radius: 12px;
  color: #2b292a;
  font-weight: 600;
  display: block;
  font-size: 2.4rem;
  letter-spacing: 0;
  margin: auto;
  margin-top: 7rem;
  padding: 2px 0;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
  text-decoration: none;
  width: 130px;
  transition: all 0.5s;
}

.patch_inner .catch-2 {
  border-radius: 12px;
  color: #2b292a;
  font-weight: 600;
  display: none;
  font-size: 2.4rem;
  letter-spacing: 0;
  margin: auto;
  margin-top: 7rem;
  padding: 2px 0;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
  text-decoration: none;
  width: 130px;
  position: relative;
  /* top: 50%;
  left: 50%; */
  transition: all 0.5s;
}
.patch_inner:hover .catch-2 {
  display: block;
  color: #fff;
}

.patch_inner:hover .catch {
  content: "123";
  color: #fff;
  display: none;
}

.patch:hover {
  background: #881c1c;
  color: #e7e0e4;
}

.patch_inner:hover {
  border: 1px dashed #e7e0e4;
}

/* ************************* */
/* Content  */
/* ************************* */
.section-content {
  padding: 9.6rem 0;
}

/* ************************* */
/* Introduction  */
/* ************************* */
.section-introduction {
  padding: 9.6rem 0;
  background-color: #402a52;
  color: #fff;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* 填充背景顏色 */
/* .step-img-box::before {
  content: "";
  display: block;
  width: 50%;

  padding: 30%;
  background-color: #daadff;
  border-radius: 30%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
} */

.step-img {
  width: 90%;
}

.Taisho .Taisho2 {
  display: none;
}

.Taisho:active .Taisho2,
.Taisho:focus .Taisho2 {
  display: block;
}

.Taisho:active .Taisho1,
.Taisho:focus .Taisho1 {
  display: none;
}

.sub-content {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  margin: 0.5rem 0;
}

.sentence {
  font-size: 2rem;
  margin: 1.6rem 0;
}

.subtitle {
  font-size: 2.4rem;
  margin-bottom: 3.6rem;
}

/* ************************* */
/* Description  */
/* ************************* */

.section-description {
  padding: 9.6rem 0;
}

.description-box {
  margin-bottom: 9.6rem;
}

.description-text {
  font-size: 3.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 便利貼 */

.sticky-notes,
.sticky-note {
  position: relative;
  list-style: none;
}

.sticky-notes {
  overflow: hidden;
  padding: 3rem;
}

.sticky-notes .sticky-note {
  margin: 1rem;
  float: left;
}

.sticky-notes .sticky-note a {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  width: 18rem;
  height: 18rem;
  padding: 1rem;
  box-shadow: 4px 4px 7px rgba(33, 33, 33, 0.5);
  transition: transform 0.15s linear;
  margin: 0.5rem;
}

.sticky-notes .sticky-note a h2 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
}
.sticky-notes .sticky-note p {
  font-size: 1.4rem;
  padding: 10px;
}

.sticky-notes .sticky-note a {
  transform: rotate(-6deg);
}
/* odd even */
.sticky-notes .sticky-note:nth-child(even) a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #ffc;
}

.sticky-notes .sticky-note:nth-child(3n) a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #ffc;
}

.sticky-notes .sticky-note a:hover,
.sticky-notes .sticky-note a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.3);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}
/* 便利貼 */

.item-title {
  font-weight: 700;
  line-height: 1.05;
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
}

.item-subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cacaca;
  letter-spacing: 0.5rem;
}

.item {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.item:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.item-content {
  padding: 2rem;
}
.des-tag {
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  background-color: #e7c0e7;
  border-radius: 100px;
  margin-right: 0.8rem;
}

.des-title {
  font-size: 2rem;
  color: #402a52;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.des-works {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.des-work {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.des-img {
  width: 100%;
}

/* ************************* */
/* JOin  */
/* ************************* */
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
/* ************************* */
/* Connection  */
/* ************************* */

.section-connection {
  padding: 9.6rem 0;
  background-color: #f0edf3;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-logo {
  width: 9.6rem;
  height: 9.6rem;
  margin-bottom: 2.4rem;
  transition: all 0.3s;
}

.social-logo:hover {
  color: #daadff;
  width: 10rem;
  height: 10rem;
  margin-bottom: 2.4rem;
}

.web-logo {
  width: 9.6rem;
  height: 9.6rem;
  margin-bottom: 2.4rem;
}

.social-text {
  font-size: 1.6rem;
  letter-spacing: 5px;
}
