/*

===Color
- Primary
- Greys
#555

/* cool3d隧道 */

body {
  background-color: hsl(256, 100%, 5%);
  /* font: 30px sans-serif; */
}
canvas {
  display: none;
  position: absolute;
  z-index: -1;
}
/* ************************ */

*/

/* 圖片遮罩 */

@media (prefers-color-scheme: light) {
  body {
    background: #fafafa;
    color: #212121;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #212121;
    color: #fafafa;
  }
}

/* ************************* */
/* GENERAL  */
/* ************************* */

.non {
  opacity: 0;
  height: 3.6rem;
  width: 3.6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  color: var(--fontColor);
}

@font-face {
  font-family: "DFPLiHei-Lt";
  src: url("fonts/DFPLiHei-Lt.ttc") format("truetype-collection");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "DFPLiHei-Lt", sans-serif;
  line-height: 200%;
  font-weight: 400;
  letter-spacing: 2.6px;
  color: #555;
  overflow-x: hidden;

  --bgColor: #fff;
  --fontColor: #424242;
  background: var(--bgColor);
  background-image: url("../img/Scence-light.png");
  margin: 0;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--3-1-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
  align-items: center;
}

.heading-primary {
  font-family: "Noto Serif TC", serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.05;
  background-color: black;
  color: #fff;
  letter-spacing: 0.5rem;
  text-align: center;
  padding: 2rem 0;
}

.heading-secondary {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  line-height: 1.05;
  font-size: 3.6rem;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #cacaca;
  letter-spacing: 0.5rem;
  margin-bottom: 1.6rem;
}

.text-center {
  text-align: center;
}

.mar {
  margin: 9.6rem auto;
}

/* 修改 */
.heading-secondary-1 {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  line-height: 1.05;
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
  color: #fff;
}

.subheading-1 {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.5rem;
  margin-bottom: 1.2rem;
}

/* ************************* */
/* Header  */
/* ************************* */

.header {
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  position: relative;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* Because we want header to be sticky later */
/* height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
} */

.logo {
  height: 2.4rem;
}

.Name {
  font-family: "Abel", sans-serif;
  text-align: center;
  color: #402a52;
  font-weight: 700;
  font-size: 4.4rem;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
}

.btnSwitchTheme {
  color: #555;
}

/* ************************* */
/* Navigation  */
/* ************************* */

.main-nav-list {
  font-family: "Noto Serif TC", serif;
  font-weight: 400;
  display: flex;
  list-style: none;
  gap: 3.2rem;
  justify-content: center;
  justify-content: space-evenly;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: block;
  color: #402a52;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #eb67eb;
}

/* .sub-nav-link {
  text-decoration: none;
  font-size: 1.8rem;

  transition: all 0.3s;
} */

.dropdown-container {
  position: relative;
  display: inline-block;
  transition: all 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.075);
  z-index: 1;
}

.dropdown-content a {
  color: #8d8d8d;
  font-size: 1.4rem;
  display: block;
  padding: 1rem 0.8rem;
  text-decoration: none;
  transition: all 0.3s;
}

.dropdown-content a:hover {
  color: #eb67eb;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

/* ************************* */
/* bottom nav  */
/* ************************* */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* dark */

.btnSwitchTheme {
  padding: 0 1rem;
}

.icon-dark {
  height: 3.6rem;
  width: 3.6rem;
  /* position: absolute; */
}

.icon-dark[name="sunny-outline"] {
  color: #402a52;
}

.icon-dark[name="moon-outline"] {
  display: none;
  color: rgb(234, 209, 255);
}

/* ************************* */
/* sticky nav  */
/* ************************* */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 10rem;
}

/* ************************* */
/* HERO  */
/* ************************* */

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fff;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* 打字效果 */
.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 96rem;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2.4rem;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* ****************************** */

.hero-description {
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 5rem 5rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #999;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 9.6rem;
}

.btn:link,
.btn:visited {
  display: inline;
  background-color: #402a52;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 15px;
  text-decoration: none;
  margin: 0 3rem;
  transition: all 0.5s;
}

.btn:hover,
.btn:active {
  display: inline;
  background-color: #daadff;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 15px;
  text-decoration: none;
  margin: 0 3rem;
}

.delivered-text {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #999;
}

/* ************************* */
/* About  */
/* ************************* */

.section-about {
  padding: 9.6rem 0;
  background-color: #fff;
}

.about-text-box {
  padding: 0 4.8rem 4.8rem 4.8rem;
  font-size: 1.8rem;
}

/* 圓 */

/* .about-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin: 9.6rem 0;
  transition: all 0.5s;
} */

.patch {
  background: #e7e0e4;
  border-radius: 125px;
  color: rgb(163, 21, 21);
  font-family: "Moaria Regular", sans-serif;
  font-size: 32px;
  height: 220px;
  letter-spacing: 5px;
  margin: -10px auto 0 auto;
  padding-top: 1px;
  text-indent: 6px;
  transition: all 0.5s;
}

.patch_inner {
  border: 1px dashed #881c1c;
  border-radius: 200px;
  display: block;
  height: 210px;
  margin: 3px 4px;
  width: 210px;
  transition: all 0.5s;
}

.patch_inner .catch {
  border-radius: 12px;
  color: #2b292a;
  font-weight: 600;
  display: block;
  font-size: 2.4rem;
  letter-spacing: 0;
  margin: auto;
  margin-top: 7rem;
  padding: 2px 0;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
  text-decoration: none;
  width: 130px;
  transition: all 0.5s;
}

.patch_inner .catch-2 {
  border-radius: 12px;
  color: #2b292a;
  font-weight: 600;
  display: none;
  font-size: 2.4rem;
  letter-spacing: 0;
  margin: auto;
  margin-top: 7rem;
  padding: 2px 0;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
  text-decoration: none;
  width: 130px;
  position: relative;
  /* top: 50%;
  left: 50%; */
  transition: all 0.5s;
}
.patch_inner:hover .catch-2 {
  display: block;
  color: #fff;
}

.patch_inner:hover .catch {
  content: "123";
  color: #fff;
  display: none;
}

.patch:hover {
  background: #881c1c;
  color: #e7e0e4;
}

.patch_inner:hover {
  border: 1px dashed #e7e0e4;
}

/* ************************* */
/* Content  */
/* ************************* */
.section-content {
  padding: 9.6rem 0;
}

/* ************************* */
/* Introduction  */
/* ************************* */
.section-introduction {
  padding: 9.6rem 0;
  /* background-color: #402a52; */
  /* color: #fff; */
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* 填充背景顏色 */
/* .step-img-box::before {
  content: "";
  display: block;
  width: 50%;

  padding: 30%;
  background-color: #daadff;
  border-radius: 30%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
} */

.step-img {
  width: 90%;
}

.Taisho .Taisho2 {
  display: none;
}

.Taisho:active .Taisho2,
.Taisho:focus .Taisho2 {
  display: block;
}

.Taisho:active .Taisho1,
.Taisho:focus .Taisho1 {
  display: none;
}

.sub-content {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  margin: 0.5rem 0;
}

.sentence {
  font-size: 2rem;
  margin: 1.6rem 0;
}

.subtitle {
  font-size: 2.4rem;
  margin-bottom: 3.6rem;
}

/* ************************* */
/* Description  */
/* ************************* */

.section-description {
  padding: 9.6rem 0;
}

.description-box {
  margin-bottom: 9.6rem;
}

.description-text {
  font-size: 3.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 便利貼 */

.sticky-notes,
.sticky-note {
  position: relative;
  list-style: none;
}

.sticky-notes {
  overflow: hidden;
  padding: 3rem;
}

.sticky-notes .sticky-note {
  margin: 1rem;
  float: left;
}

.sticky-notes .sticky-note a {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  width: 18rem;
  height: 18rem;
  padding: 1rem;
  box-shadow: 4px 4px 7px rgba(33, 33, 33, 0.5);
  transition: transform 0.15s linear;
  margin: 0.5rem;
}

.sticky-notes .sticky-note a h2 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
}
.sticky-notes .sticky-note p {
  font-size: 1.4rem;
  padding: 10px;
}

.sticky-notes .sticky-note a {
  transform: rotate(-6deg);
}
/* odd even */
.sticky-notes .sticky-note:nth-child(even) a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #ffc;
}

.sticky-notes .sticky-note:nth-child(3n) a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #ffc;
}

.sticky-notes .sticky-note a:hover,
.sticky-notes .sticky-note a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.3);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}
/* 便利貼 */

.item-title {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  line-height: 1.05;
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
}

.item-subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cacaca;
  letter-spacing: 0.5rem;
}

.item {
  backdrop-filter: blur(10px);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.item:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.item-content {
  padding: 2rem;
}
.des-tag {
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  background-color: #e7c0e7;
  border-radius: 100px;
  margin-right: 0.8rem;
}

.des-title {
  font-size: 2rem;
  color: #402a52;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.des-works {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.des-work {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.des-img {
  width: 100%;
}

/* ************************* */
/* JOin  */
/* ************************* */
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
/* ************************* */
/* Connection  */
/* ************************* */

.section-connection {
  padding: 9.6rem 0;
  background-color: #f0edf3;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-logo {
  color: #402a52;

  width: 9.6rem;
  height: 9.6rem;
  margin-bottom: 2.4rem;
  transition: all 0.3s;
}

.social-logo:hover {
  color: #daadff;
  width: 10rem;
  height: 10rem;
  margin-bottom: 2.4rem;
}

.web-logo {
  width: 9.6rem;
  height: 9.6rem;
  margin-bottom: 2.4rem;
}

.social-text {
  font-size: 1.6rem;
  letter-spacing: 5px;
}

/**************** 漸層效果導航 ***************/

/* cool */
:root {
  --color-accent-light: #00dbde;
  --color-accent-dark: #fc00ff;
  --color-secondary: #ccc;

  /* --text-color-default: #2c2c2c; */
  /* --text-color-light: #fff; */

  /* --font-size-default: 15px;
  --font-size-lg: 25px; */

  /* --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-default: var(--font-weight-regular); */

  --border-color-default: var(--color-secondary);
  --border-color-accent: var(--color-accent-dark);

  --bg-color-default: #fff;
  --bg-color-dark: #2c2c2c;
  --bg-color-accent--lignt: var(--color-accent-light);
  --bg-color-accent--dark: var(--color-accent-dark);

  --transition-duration: 0.2s;
  --transition-timing-function: linear;
  --transition-delay: 0s;

  --negative-multiplier: -1;

  --gradient-default: linear-gradient(
    122deg,
    var(--color-accent-light) 0%,
    var(--color-accent-dark) 100%
  );
}

.header__btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

/* body a {
  color: inherit;
  text-decoration: none;
} */

.header__btn {
  transition: all var(--transition-duration) var(--transition-timing-function)
    var(--transition-delay);
  padding: 10px 20px;
  margin-right: 10px;
  background-color: var(--bg-color-default);
  border: 1px solid var(--border-color-default);
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.header__btn:hover,
.header__btn.js-active {
  color: var(--text-color-light);
  background-color: var(--bg-color-dark);
}

.header__title {
  margin-bottom: 10px;
  font-weight: var(--font-weight-semibold);
}

/* .content {
  margin: 50px auto;
} */

.content__title {
  margin-bottom: 80px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-default);
  text-align: center;
}

/* TIMELINE STYLES: YOU NEED THEM!!! */
.timeline {
  --wrapper-width: 900px;

  width: 95%;
  max-width: var(--wrapper-width);
  margin: auto;
}

.timeline__stepper {
  --step-border-width: 3px;
  --offset-to-slider-content: 30px;

  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: var(--offset-to-slider-content);
}

.timeline__step-title {
  --timeline-dot-dimensions: 11px;
  --extra-offset-fox-pixelperfect: -1px;

  position: relative;
  display: none;
  padding-top: 30px;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.7;
  border-top: var(--step-border-width) solid var(--border-color-default);
  background-clip: text; /* Apply gradient to text */
  -webkit-background-clip: text; /* For Safari/Chrome */
  color: transparent; /* Make the text transparent */
}

.timeline__step-title:before {
  content: ""; /* Use a pseudo-element to create the gradient background */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--gradient-default); /* Use your gradient variable here */
  z-index: -1; /* Place the gradient behind the text */
}

.timeline__step-title {
  --timeline-dot-dimensions: 11px;
  --extra-offset-fox-pixelperfect: -1px;

  padding: 0 2.4rem;
  position: relative;
  display: none;
  padding-top: 30px;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.7;
  border-top: var(--step-border-width) solid var(--border-color-default);

  /* 添加下面的部分以實現文字的漸變效果 */
  background: linear-gradient(
      122deg,
      var(--color-accent-light) 0%,
      var(--color-accent-dark) 100%
    )
    no-repeat;
  -webkit-background-clip: text; /* Safari/Chrome支援 */
  background-clip: text; /* 標準 */
  color: transparent; /* 將文字顏色設置為透明，以顯示背景的漸變效果 */
}

@media (min-width: 530px) {
  .timeline__stepper {
    display: flex;
    justify-content: space-around;
    gap: 0;
  }
}

@media (min-width: 700px) {
  .timeline__stepper {
    --offset-to-slider-content: 50px;
  }
}

.timeline__step {
  position: relative;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 530px) {
  .timeline__step {
    width: 100%;
  }
}

.timeline__icon {
  --timeline-icon-dimensions: 45px;

  position: relative;
  display: block;
  width: var(--timeline-icon-dimensions);
  max-height: var(--timeline-icon-dimensions);
  height: auto;
  margin: 0 auto;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function) var(--transition-delay);
}

@media (min-width: 700px) {
  .timeline__icon {
    --timeline-icon-dimensions: 60px;

    margin-bottom: 30px;
  }
}

.timeline__icon--active {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  fill: url(#icon-gradient);
  opacity: 0;
}

.timeline__step-title {
  --timeline-dot-dimensions: 11px;
  --extra-offset-fox-pixelperfect: -1px;

  position: relative;
  display: none;
  padding-top: 30px;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.7;
  border-top: var(--step-border-width) solid var(--border-color-default);
}

@media (min-width: 700px) {
  .timeline__step-title {
    display: block;
  }
}

.timeline__step-title:before,
.timeline__step-title:after {
  position: absolute;
  top: var(--dot-top-position);
  left: 50%;
  display: block;
  width: var(--timeline-dot-dimensions);
  height: var(--timeline-dot-dimensions);
  content: "";
  border-radius: 50%;
}

.timeline__step-title:before {
  --dot-top-position: calc(
    var(--timeline-dot-dimensions) / 2 * var(--negative-multiplier) +
      var(--extra-offset-fox-pixelperfect)
  );

  transform: translate(-50%);
  border: 2px solid var(--border-color-default);
  border-radius: 50%;
  background-color: #fff;
  z-index: 5;
}

.timeline__step-title:after {
  --timeline-dot-dimensions: 25px;
  --dot-top-position: calc(
    var(--timeline-dot-dimensions) / 2 * var(--negative-multiplier) +
      var(--extra-offset-fox-pixelperfect)
  );

  transform: translate(-50%) scale(0);
  border-radius: 50%;
  background-color: #fff;
}

/* this elements generates in JS */
.timeline__step-active-marker {
  --slide-pos-y: none; /* calcs on the fly in js */
  --slide-pos-x: none; /* calcs on the fly in js */
  --slide-width: auto; /* calcs on the fly in js */

  --transition-timing-function: cubic-bezier(0, 0, 0, 1.2);

  position: absolute;
  top: var(--slide-pos-y);
  left: 0;
  display: none;
  width: var(--slide-width);
  height: var(--step-border-width);
  transform: translateX(var(--slide-pos-x));
  transition: transform var(--transition-duration)
    var(--transition-timing-function) var(--transition-delay);
  background-image: var(--gradient-default);
}

@media (min-width: 700px) {
  .timeline__step-active-marker {
    display: block;
  }
}

.timeline__step.is-active {
  cursor: default;
}

.timeline__step.is-active .timeline__step-title {
  font-weight: var(--font-weight-semibold);
}

.timeline__step.is-active .timeline__step-title:before {
  transition: background-color var(--transition-duration)
    var(--transition-timing-function) var(--transition-delay);
  background-color: var(--color-accent-dark);
  border-color: var(--border-color-accent);
}

.timeline__step.is-active .timeline__step-title:after {
  transform: translate(-50%) scale(1);
  transition: transform var(--transition-duration)
    var(--transition-timing-function) var(--transition-delay);
  background-image: var(--gradient-default);
  opacity: 0.35;
}

.timeline__step.is-active .timeline__icon--default,
.timeline__step:not(.is-active):hover .timeline__icon--default {
  opacity: 0;
}

.timeline__step.is-active .timeline__icon--active,
.timeline__step:not(.is-active):hover .timeline__icon--active {
  opacity: 1;
}

.timeline__slides {
  --slides-container-height: 0px; /* calcs on the fly in js */

  --content-offset-x: 20px;
  --content-offset-y: 30px;

  --decoration-blur-spread: 20px;
  --decoration-opacity: 0.7;
  --decoration-pos-x: 0;
  --decoration-pos-y: 20px;
  --decoration-scale: 1;

  position: relative;
  width: 600px;
  max-width: 100%;
  margin: auto;
  height: var(--slides-container-height);
  border-radius: 5px;
  background-color: var(--bg-color-default);
}

@media (min-width: 700px) {
  .timeline__slides {
    --content-offset-x: 30px;
    --content-offset-y: 40px;
  }
}

.timeline__slides:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: var(--decoration-opacity);
  background-image: var(--gradient-default);
  filter: blur(var(--decoration-blur-spread));
  transform: translate3d(var(--decoration-pos-x), var(--decoration-pos-y), 0)
    scale(var(--decoration-scale));
  z-index: -1;
}

.timeline__slide {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--content-offset-y) var(--content-offset-x);
  opacity: 0;
  visibility: hidden;
}

.timeline__slide.is-active {
  transition: opacity var(--transition-duration)
    var(--transition-timing-function) var(--transition-delay);
  opacity: 1;
  visibility: visible;
}

.timeline__slide-title {
  margin-top: 0;
}

.timeline__slide-content {
  line-height: 1.7;
}

.timeline__slide-content p:first-child {
  margin-top: 0;
}

.timeline__slide-content p:last-child {
  margin-bottom: 0;
}

/* ******************************************** */
